<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@6.4.0/dist/css/mdb.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-style.css') }}">
</head>
<body>
<div class="container-fluid"
     style="background-image: url('{{ url_for('static', filename='img/background-web.svg') }}'); background-repeat: no-repeat; background-position: top right;">
    <div class="row d-flex">
        <div class="col">
            <div class="w-100">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="container">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show text-center mx-auto custom-alert"
                         role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>

            <!-- Logo and form -->
            <div class="form-container">
                <div class="logo">
                    <div class="logo-container w-100 fa-2x pt-5 mt-xl-4 justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='img/logomarca.png') }}" alt="Logo">
                    </div>
                </div>
                <div class="d-flex align-items-center w-100 px-5 mt-5 pt-2 pt-xl-0 mt-xl-n5">
                    <form id="loginForm" class="mb-5 w-100" style="width: 23rem;" method="POST"
                          action="{{ url_for('auth.login') }}" id="loginForm">
                        <h3 class="fw-normal mb-5 pb-3 text-center text-muted" style="letter-spacing: 1px;">Log-in</h3>
                        <div data-mdb-input-init class="form-outline mb-4 text-center">
                            <label class="form-label justify-content-center text-muted" for="input_email">
                                E-mail</label>
                            <input type="email" id="input_email" name="input_email"
                                   class="form-control form-control-lg"
                                   required/>
                        </div>
                        <div class="text-center">
                            <label class="form-label text-muted" for="input_password">Senha</label>
                        </div>
                        <div class="input-group form-outline mb-4 text-center position-relative">
                            <input type="password" id="input_password" name="input_password"
                                   class="form-control form-control-lg" required>
                            <!-- Ícone de alternância de visibilidade fora da barra de entrada -->
                            <div class="input-group-append">
                                <button type="button" class="btn btn-table" id="togglePassword" title="Mostrar Senha">
                                    <i id="eyeIcon" class="fa-solid fa-eye" style="font-size:15px"></i>
                                </button>
                            </div>
                        </div>
                        <p class="small pt-3 mb-2 pb-lg-2 text-center mt-2"><a class="text-muted" href="#!">Esqueceu
                            a senha?</a></p>
                        <div class="d-grid mb-5">
                            <button id="loginButton" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-info btn-lg mt-3" style="padding-bottom: 12px;"
                                    type="submit">
                                <span id="loginButtonText">Entrar</span>
                                <span id="loginButtonSpinner"
                                      class="visually-hidden spinner-border spinner-border-sm"></span>
                            </button>
                        </div>
                        <p class="text-center mb-0">Não possui uma conta? <a href="{{ url_for('auth.signup') }}"
                                                                             class="link-info">Registre-se aqui!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="{{ url_for('static', filename='js/spinners.js') }}"></script>
<script src="{{ url_for('static', filename='js/eye-password.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@6.4.0/dist/js/mdb.min.js"></script>
<script src="{{ url_for('static', filename='js/alert.js') }}"></script>
</body>
</html>
