version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bibliomania
    ports:
      - "3333:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  flask:
    build:
      context: .
    container_name: flask-app
    environment:
      DATABASE_URL: mysql://root:root@mysql-container:3306/bibliomania
    ports:
      - "5000:5000"
    depends_on:
      - mysql

volumes:
  mysql-data:
