{% extends "base.html" %}

{% block content %}
<div class="header-card container">
    <div class="row">
        <div class="col d-flex justify-content-start align-items-center">
            <a href="{{ url_for('book.acervo') }}" class="btn btn-back botao">Voltar</a>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <h1 class="titulo">Confirmar Reserva</h1>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <form action="{{ url_for('book.reservar', book_id=book.id) }}" method="post">
                {% if not can_reserve or book.availableStock == 0 %}
                <button type="submit" class="btn btn-confirm" disabled>Confirmar</button>
                {% else %}
                <button type="submit" class="btn btn-confirm">Confirmar Reserva</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>

<div class="acervo-container background container mb-5 pt-4 pb-1">
    <div class="card mb-2">
        <div class="card-body">
            <div class="row align-items-start justify-content-center">
                <div class="imagem-description col-md-3 pt-5">
                    <img src="{{ url_for('static', filename='img/book.jpg') }}">
                </div>
                <div class="book-info col-md-8 h-100">
                    <h1 class="title-acervo mb-3">{{ book.id }}. {{ book.title }}</h1>
                    <hr class="divider">
                    <ul class="list-style mb-2">
                        <li class="text-description mb-3 mt-4" style="text-align: justify;">
                            <strong>Descrição:</strong> {{ book.description }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endwith %}
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/acervo.css') }}">
{% endblock %}
