.acervo-container{
    background-color: #212529;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none !important;

    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

    padding-left: 0px;
    padding-right: 0px;

}

.imagem{
    max-width: 200px;
    max-height: 400px;
    margin-left: 60px;
}

.imagem > img{
    object-fit: contain;
    width: auto;
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 100%;
    max-height: 400px; /* Define uma altura máxima */
}

.card{
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    width: 100%;
    background-color: #f6f6f6;

}

.card-confirm{
    padding: 0px;
    border: none;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f6f6f6;

}

.book-info{
    padding-left: 75px;
}

.title-acervo {
    color: #5c5e60;
    font-size: 1.5rem; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Deixa a fonte em negrito */
}

.imagem-description{
    height: 100%;
    max-width: 100%;
}

.imagem-description > img{
    object-fit: contain;
    width: auto;
    height: 450px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 400px;
}