.acervo-container{
    background-color: #f1f1f1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    boder-bottom: 1px solid #c3c3c3;
}

.imagem{
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 300px; /* Define um tamanho máximo para o contêiner da imagem */
}

.imagem > img{
    object-fit: contain;
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 100%;
    max-height: 400px; /* Define uma altura máxima */
}

.card{
    padding: 0px;
    border: none;
    border-radius:15px;
    background-color: #F1F1F1;
}

.card-confirm{
    padding: 0px;
    border: none;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F1F1F1;

}

.book-info{
    padding-left: 75px;
}

.title-acervo {
    color: #5c5e60;
    font-size: 1.5rem; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Deixa a fonte em negrito */
    margin-bottom: 35px; /* Adiciona margem inferior */

}
