:root {
    --background-color: #D7DBE1;
    --text-color: #475060;

    --row-divider-color: #ff0000; /* ou qualquer cor que você desejar */

    --color-0: #7985f6;
    --color-1: #7985f6;
    --color-2: #6973c8;
    --color-3: #6169a1;
    --color-4: #5c6080;

    --light-positive-color: #748F73;
    --light-neutral-color: #6183A5;
    --light-negative-color: #C66969;

    --stroke-confirm-color: #5d985d;
    --stroke-neutral-color: #5861b8;
    --stroke-negative-color: #cc4a4a;

    --bright-neutral-color: #5a9bfd;

}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(125,144,163);
    background: radial-gradient(circle, rgba(125,144,163,1) 0%, rgba(27,44,62,1) 99%);
    display: flex;
    flex-direction: column;

    font-family: 'Lexend', sans-serif;
    color: var(--text-color);

}

header{
    height: 70px;
}

.navbar {
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 1000;
    background: #1C2935;
    padding: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar-brand > img {
    border-radius: 30%;
}

.container{
    max-width: 70rem;
}

.content {
    width: 100vw;
    height: 100%;
    margin-top: 35px;
    margin-bottom: 20px;
}

.card{
    color: #dfdfdf;
    background-color: #343A40;

}

.header-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #343a40;
    padding: 10px;
}

.search-header{
    width: 100%;
    color: #dfdfdf;
    background-color: #212529;
    padding: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.form-control{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #cbced5;
    box-shadow: rgb(217, 223, 228) 1.5px 1.5px 3px 0px inset, rgba(255, 255, 255, 0.5) -1.5px -1.5px 3px 0.5px inset !important;

}

.form-control:active, .form-control:focus, .form-control:active:focus{
    box-shadow: rgb(217, 223, 228) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset !important;
    border: none !important;
}

.custom-footer{
    background-color:#2b3137;
    color: #b5b5b5;
    min-height: 4rem;
    padding: 10px;
    margin-top: auto;
}

.titulo {
    color: #e7e8ec;
    margin: 0;
    font-size: 1.8rem;
}

.divider{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* ´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´ *\
                                  BOTÕES & FILTROS

\* ´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´ */


/* botão do filtro */
.btn-primary{
    border: none !important;
    background-color: var(--color-4);
    width: 7rem !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(4, 4, 4, 0.3) 0px 3.5px 6px -1.5px, rgba(18, 18, 18, 0.2) 0px -1.5px 0px inset;
}
.btn-primary.active {
    background-color: var(--color-1) !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(4, 4, 4, 0.3) 0px 3.5px 6px -1.5px, rgba(18, 18, 18, 0.2) 0px -1.5px 0px inset;
}
.btn-primary:hover{
    background-color: var(--color-4) !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(4, 4, 4, 0.3) 0px 3.5px 6px -1.5px, rgba(18, 18, 18, 0.2) 0px -1.5px 0px inset;
}


.btn-secondary{
    background-color: var(--dropdown-dark-color) !important;
    min-width: 10rem !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(4, 4, 4, 0.3) 0px 3.5px 6px -1.5px, rgba(18, 18, 18, 0.2) 0px -1.5px 0px inset;
}
.btn-secondary:hover{
    background-color: var(--dropdown-dark-color-hover) !important;
}


.btn-confirm{
    min-width: 12rem !important;
    background-color: var(--stroke-neutral-color) !important;
    color: white; /* Cor do texto */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-left: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.btn-confirm:hover {
    background-color: var(--bright-neutral-color);
    color: white;
}

/* botões área de pesquisa */
.btn-search {
    border: none !important;
    width: 10rem;
    background-color: var(--stroke-neutral-color);
    color: white;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}
.btn-search:hover, .btn-search:focus {
    border: none !important;
    color: #efefef;
}
.btn-back{
    background-color: #616c81;
    color: #bcbcbc;
}
.btn-back:hover{
    background-color: #7f899e;
    color: #ffffff;
}

/* botão indisponível */
.bg-unavailable {
    border: none;
    margin-left: 10px;
    opacity: 0.8 !important;
    width: 12rem !important;
    background-color: #7c7d83;
    color: #ececec;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efeito de transição */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.bg-unavailable:hover {
    background-color: #66676e; /* Cinza mais escuro */
    transform: translateY(-2px); /* Efeito de elevação */
}

/* TODO refatorar */
.filter-button{
    background-color: #4D565F; /* Cor de fundo personalizada */
    color: white; /* Cor do texto personalizada */
}

.filter-button:hover {
    background-color: #57606a; /* Cor de fundo personalizada */
}

/* ´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´ *\
                                  CUSTOM ALERTS

\* ´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´ */
/*Estilo flash messages*/
.custom-alert {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    background-color: #ff0d0d;
    border: 1px solid #ddd;
}

.custom-alert.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.custom-alert.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/* Estilo padrão do botão secondary/filtros */
.btn-outline-secondary-status {
    width: 10rem !important;
}

:not(.btn-outline-secondary-status:focus) + .btn-outline-secondary-status {
    color: black;
    background-color: #ffff;
    border-color: black;
}



/* ´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´ *\
                                  ZERANDO BOOTSTRAP

\* ´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´ */

.row{
    margin: 0;
    padding: 0;
}

.izinho > img {
    border-radius: 100%;
}