.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-brand > img {
    border-radius: 30%;
}

.izinho > img {
    border-radius: 100%;
}
body {
    padding-top: 70px; /* Ajuste conforme necessário para evitar a sobreposição da navbar */
}
.custom-background {
    background-color: #D7DDE2;
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav .nav-item {
    margin-right: 1rem;
  }

  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }

  .dropdown-menu {
    position: static;
    float: none;
  }
}
