body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #d7dbe1;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100vw;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 10px;
}

header{
    height: 70px;
}

.navbar {
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 1000; /* para fazer a navbar ultrapassar o conteúdo quando aberto */
}

.navbar-brand > img {
    border-radius: 30%;
}

.izinho > img {
    border-radius: 100%;
}

.header-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #343a40;
    padding: 10px;
}

.search-header{
    width: 100%;
    background-color: #DBDBDC;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    boder-bottom: 1px solid #c3c3c3;
}

.row{
    margin: 0;
    padding: 0;
}

.custom-footer{
    background-color:#73818F;
    color:white;
    min-height: 100px;
    padding: 10px;
    margin-top: auto;
}

.titulo {
    color: white;
    margin: 0;
}

.btn-secondary{
    width: 10rem !important;
}

.btn-confirm{
    width: 12rem !important;
    background-color: #2b7fe3; /* Azul em hexadecimal */
    color: white; /* Cor do texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-confirm:hover {
    background-color: #52a4ff;
    color: white;
}

.bg-unavailable {
    border: none;
    margin-left: 10px;
    opacity: 0.8 !important;
    width: 12rem !important;
    background-color: #7c7d83;
    color: #ececec;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efeito de transição */
}

.bg-unavailable:hover {
    background-color: #66676e; /* Cinza mais escuro */
    transform: translateY(-2px); /* Efeito de elevação */
}

.filter-button{
    background-color: #4D565F; /* Cor de fundo personalizada */
    color: white; /* Cor do texto personalizada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.filter-button:hover {
    background-color: #57606a; /* Cor de fundo personalizada */
}
