
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 1000; /* para fazer a navbar ultrapassar o conteúdo quando aberto */
}

.navbar-brand > img {
    border-radius: 30%;
}

.izinho > img {
    border-radius: 100%;
}

.custom-background {
    background-color: #D7DDE2;
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav .nav-item {
    margin-right: 1rem;
  }

  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }

  .dropdown-menu {
    float: none;
  }
}

.linha-cinza {
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.linha-branca {
    background-color: #fff;
    padding: 20px;
    border-top: 10px solid #fff;
    border-bottom: 1px solid #ccc;
}

.filtro-buttons {
    margin-top: 10px;
}
.btn-secondary{
    width: 10rem !important;

}
.barra {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #343a40;
            padding: 10px;
            ding: 10px;
            margin-top: 10px;
            position: relative;
            margin-top:50px;

        }
.barra .botao {
            position: absolute;
            left: 20px;
        }


.barra .botao2 {
            position: absolute;
            right: 20px;
        }
.titulo {
            color: white;
            margin: 0;
        }