    .navbar-brand > img {
    border-radius: 30%;
}

body {
    background: rgb(115, 129, 143);
    background: linear-gradient(90deg, rgba(115, 129, 143, 1) 0%, rgba(70, 78, 87, 1) 74%, rgba(33, 37, 41, 1) 100%);
}

.izinho > img {
    border-radius: 100%;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
}
