.navbar-brand > img {
    border-radius: 30%;
}

body {
    background: rgb(115, 129, 143);
    background: linear-gradient(90deg, rgba(115, 129, 143, 1) 0%, rgba(70, 78, 87, 1) 74%, rgba(33, 37, 41, 1) 100%);
}

.izinho > img {
    border-radius: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav .nav-item {
    margin-right: 1rem;
  }

  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }

  .dropdown-menu {
    position: static;
    float: none;
  }
}
