.top-bar {
    background-color: #f8f9fa;
    padding: 10px;
}

.card-header {
    background-color: #343a40;
    color: white;
    text-align: center;
}

.card {
    margin-bottom: 20px;
}

.status-box {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.renov-box {
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.search-header{
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.table-reserve {
    background-color: #fff;
    padding: 20px;
    border-top: 10px solid #fff;
    border-bottom: 1px solid #ccc;
}

.filtro-buttons {
    margin-top: 10px;
}
.button_filter{
    width: 7rem !important;
}


