

.form-select.btn-outline-secondary-status {
    color: #fff !important;
    background-color: #6169A1 !important;
    border-color: #656dc5 !important;
}

.form-select.btn-outline-secondary-status option {
    background-color: #343A40; /* Cor de fundo dos itens */
    color: #fff; /* Cor do texto dos itens */
}

.status-tag {
    display: inline-block;
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0;
    border-radius: 12px;
    font-size: 0.875em;
    border: 1px solid;
}

.status-cancelada {
    color: #aeb6bc;
    background-color: #3e464c;
    border-color: #848485;
    box-shadow: 0 0 1px #b8b8b8, 0 0 1px #b8b8b8, 0 0 1px #b8b8b8;
}

.status-em-espera {
    background-color: #b8822e;
    border-color: #ffb84d;
    box-shadow: 0 0 1px #ffb84d, 0 0 2px #ffb84d, 0 0 3px #ffb84d;
    text-shadow: 0 0 1px #ffb84d;
}

.status-ativa {
    background-color: #4eaf64;
    border-color: #4dff88;
    box-shadow: 0 0 1px #4dff88, 0 0 1px #4dff88, 0 0 1px #4dff88;
    text-shadow: 0 0 1px #4dff88;
}

.status-finalizada {
    background-color: #6c757d;
    border-color: #b8b8b8;
    box-shadow: 0 0 1px #b8b8b8, 0 0 1px #b8b8b8, 0 0 1px #b8b8b8;
    text-shadow: 0 0 1px #b8b8b8;
}

.status-atrasada {
    color: #ff9f9f;
    background-color: #5e2a2a;
    border-color: #ff4d4d;
    box-shadow: 0 0 1px #ff4d4d, 0 0 1px #ff4d4d, 0 0 1px #ff4d4d;
    text-shadow: 0 0 1px #ff4d4d;
}

.card-header {
    background-color: #343a40;
    color: white;
    text-align: center;
    width: 100%;
}

.reservation-details-card {
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.renov-box {
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.table-reserve {
    background-color: #fff;
    padding: 20px;
    border-top: 10px solid #fff;
    border-bottom: 1px solid #ccc;
}

.filtro-buttons {
    margin-top: 10px;
}

.button_filter {
    width: 7rem !important;
}

.btn-details {
    min-width: 5rem !important;
    background-color: var(--light-neutral-color);
    color: white; /* Cor do texto */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-left: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btn-details:hover {
    color: white;
}

.form-select.filter {
    width: 20rem;
}

.row-cancelada {
    opacity: 0.6;
}
