.top-bar {
    background-color: #f8f9fa;
    padding: 10px;
}

.card-header {
    background-color: #343a40;
    color: white;
    text-align: center;
}

.card {
    margin-bottom: 20px;
}

.status-box {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.renov-box {
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
