/* Estilos gerais */
.logo-container {
    display: flex;
    align-items: center;
    padding-bottom: 35px;
}

.logo-container img {
    height: 4em;
}

.row {
    display: flex;
    justify-content: center;
}

.logo {
    background: rgb(27,45,49);
    background: linear-gradient(0deg, rgba(27,45,49,1) 8%, rgba(64,82,107,1) 62%, rgba(107,126,175,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    color: white;
    background: #5e8baa!important;
    border: none!important;
}

.btn:hover {
    color: #ffffff;
    background: #5b92b6!important;
    border: none!important;
}

.custom-alert {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ff9090;
    max-width: 80%;
}

body, html {
    height: 100vh;
    margin: 0;
    background-color: #eff4f3;
    background-repeat: no-repeat;
    background-size: cover;

}

.form-container {
    background: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 70rem;
    width: 30%;
    max-height: 90rem;
    height: 85%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 7px 26px 1px rgba(0,0,0,0.32) !important;
    -moz-box-shadow: 0px 7px 26px 1px rgba(0,0,0,0.32) !important;
    box-shadow: 0px 7px 26px 1px rgba(0,0,0,0.32) !important;
    margin-left: 13em;
    margin-top: 4em;
    padding-bottom: 70px !important;
}

/*.content-wrapper {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

.table-icon {
    transition: 0.5s;
    width: 20px;
    height: 20px;
    color: #a1a5d6 !important;
}

.table-icon:hover {
    transition: 0.5s;
    width: 20px;
    height: 20px;
    color: #e0ddff !important;
}

.btn-table {
    border: none;
    background-color: var(--light-neutral-color);
    height: 3rem;
    width: 3rem;
    border-radius: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-table:hover {
    background-color: var(--bright-neutral-color);
    color: white;
}

/* Media queries */
@media (max-width: 1660px) {
    .form-container {
        font-size: 1em;
        width: 30%;
        height: 80%;
        margin-left: 8em;
        margin-top: 5em;
    }

    .logo-container img {
        height: 3em;
    }
}


@media (max-width: 1200px) {
    .form-container {
        width: 50%;
        height: auto;
        margin-left: 8em;
        margin-top: 5em;
    }

    .logo-container img {
        height: 3em;
    }
}

@media (max-width: 992px) {
    .form-container {
        width: 60%;
        height: auto;
        margin-left: 5em;
        margin-top: 4em;
    }

    .logo-container img {
        height: 2.5em;
    }
}

@media (max-width: 768px) {
    .form-container {
        width: 80%;
        height: auto;
        margin-left: 2em;
        margin-top: 2em;
        padding: 3%;
    }

    .logo-container img {
        height: 2em;
    }
}

@media (max-width: 576px) {
    .form-container {
        width: 90%;
        height: auto;
        margin-left: 1em;
        margin-top: 1em;
        padding: 2%;
    }

    .logo-container img {
        height: 1.5em;
    }

    .btn {
        font-size: 0.9em;
        padding: 0.5em;
    }
}