{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-message-container">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} text-center" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
<script>
    setTimeout(function() {
        document.querySelector('.flash-message-container').style.display = 'none';
    }, 5000);
</script>
{% endif %}
{% endwith %}
<div class="header-card container w-100">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-start">
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <h1 class="titulo">Reservas</h1>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
            </div>
        </div>
    </div>
</div>
<div class="row search-header">
    <div class="col-md-12">
        <form method="POST" id="search-form">
            <div class="input-group rounded mt-3">
                <input type="text" class="form-control mt-0" placeholder="Digite sua pesquisa..."
                       name="input-search">
                <div class="input-group-append">
                    <button class="btn btn-search" type="submit">
                        <img src="{{ url_for('static', filename='img/Vector.png') }}" alt="Pesquisar"
                             style="width: 20px; height: 20px;">
                        <span class="ml-2">Pesquisar</span>
                    </button>
                </div>
            </div>
            <div class="btn-group btn-group-toggle ml-4 w-100" role="group" aria-label="Botões de Filtro"
                 id="botoesFiltro"
                 data-toggle="buttons">
                <span class="filtro-label pt-4">Filtro:</span>
                <div class="btn-group ml-4 d-flex flex-wrap w-100" role="group" aria-label="Botões de Filtro">
                    <label class="btn btn-primary mt-4 mb-3 mr-3 w-100 rounded active">
                        <input type="radio" name="filtro" id="filtroTodos" value="filtroTodos" autocomplete="off" checked> Todos
                    </label>
                    <label class="btn btn-primary mt-4 mb-3 mr-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroTitulo" value="filtroTitulo" autocomplete="off">
                        Título
                    </label>
                    <label class="btn btn-primary mt-4 mb-3 mr-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroISBN" value="filtroISBN" autocomplete="off"> ISBN
                    </label>
                    <select id="filter-select" name="filtro-status"
                            class="form-select btn btn-outline-secondary-status ml-auto mt-4 mb-3 mr-4 w-100 rounded"
                            aria-label=".form-select filter-select">
                        <option selected disabled>Status</option>
                        <option class="text-left" value="Ativa">Ativa</option>
                        <option class="text-left" value="Finalizada">Finalizada</option>
                        <option class="text-left" value="Atrasada">Atrasada</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container card">
    <div class="row table-reserve mb-2">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Reserva</th>
                    <th scope="col">Expiração</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% if reservations %}
                {% for reservation in reservations %}
                <tr>
                    <td class="align-middle">{{ reservation.book.title }}</td>
                    <td class="align-middle">{{ reservation.book.isbn }}</td>
                    <td class="align-middle">{{ reservation.reservationDate }}</td>
                    <td class="align-middle">{{ reservation.expirationDate }}</td>
                    <td class="align-middle">{{ reservation.status }}</td>
                    <td class="d-flex justify-content-center align-items-center">
                        <a href="{{ url_for('reservation.reservation_detail', token=reservation.id) }}"
                           class="btn btn-details">Detalhes{{token}}</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6" class="text-center">Nenhuma reserva encontrada.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/filter-submit.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/reservation.css') }}">
{% endblock %}
