{% extends "sign-template.html" %}

{% block content %}
<div class="container">
    <h1>Bibliomania</h1>
    <div class="form-container">
        <form action="#" method="post">
            <p>Email: </p>
            <p><input type="text" name="input_email"/></p>

            <p>Password: </p>
            <p><input type="password" name="input_password"></p>
            <p><input type="submit" value="Log In"/></p>
        </form>
    </div>

    <div class="form-container">
        <form action="/signup" method="get"> <!-- Redireciona para a página de sign up -->
            <p> Não possui cadastro no sistema?</p>
            <p><input type="submit" value="Sign Up"/></p>
        </form>
    </div>
</div>
{% endblock %}
