{% extends "adm.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}

<div class="header-card container">
    <div class="row">
        <div class="col d-flex ml-auto text-right"><h1 class="titulo">Reservas</h1></div>
    </div>
</div>

<div class="row search-header">
    <div class="col-md-12">
        <form method="POST" id="search-form">
            <div class="input-group rounded mt-3">
                <input type="text" class="form-control mt-0" placeholder="Digite sua pesquisa..." name="input-search">
                <div class="input-group-append">
                    <button class="btn btn-search" type="submit">
                        <img src="{{ url_for('static', filename='img/Vector.png') }}" alt="Pesquisar">
                        <span class="ml-2">Pesquisar</span>
                    </button>
                </div>
            </div>
            <div class="btn-group btn-group-toggle ml-4 w-100" role="group" aria-label="Botões de Filtro"
                 id="botoesFiltro" data-toggle="buttons">
                <span class="filtro-label pt-4">Filtro:</span>
                <div class="btn-group ml-4 d-flex flex-wrap w-100 mb-3" role="group" aria-label="Botões de Filtro">
                    <label class="btn btn-primary mt-4 mb-3 mr-3 w-100 rounded active">
                        <input type="radio" name="filtro" id="filtroTodos" value="filtroTodos" autocomplete="off"
                               checked> Todos
                    </label>
                    <label class="btn btn-primary mt-4 mb-3 mr-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroCPF" value="filtroCPF" autocomplete="off"> CPF
                    </label>
                    <label class="btn btn-primary mt-4 mb-3 mr-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroISBN" value="filtroISBN" autocomplete="off"> ISBN
                    </label>
                    <select id="filter-select" name="filtro-status"
                            class="form-select btn btn-outline-secondary-status ml-auto mt-4 mb-3 mr-4 w-100 rounded"
                            aria-label=".form-select filter-select">
                        <option selected disabled>Status</option>
                        <option class="text-left" value="Em Espera">Em Espera</option>
                        <option class="text-left" value="Ativa">Ativa</option>
                        <option class="text-left" value="Atrasada">Atrasada</option>
                        <option class="text-left" value="Finalizada">Finalizada</option>
                        <option class="text-left" value="Cancelada">Cancelada</option>

                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card container mb-5 pb-1">
    <div class="table-responsive">
        <table class="table table-striped table-dark table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>ISBN</th>
                <th>Usuário</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
            <tr class="{% if reservation.status == 'Cancelada' %}row-cancelada{% endif %}">
                <td class="align-middle">{{ loop.index }}</td>
                <td class="align-middle">{{ reservation.book.title }}</td>
                <td class="align-middle">{{ reservation.book.isbn }}</td>
                <td class="align-middle">{{ reservation.user.name }}</td>
                <td class="align-middle">{{ reservation.user.cpf }}</td>
                <td class="align-middle">{{ reservation.user.phonenumber }}</td>
                <td class="align-middle">
                    {% if reservation.status == 'Cancelada' %}
                    <span class="status-tag status-cancelada">{{ reservation.status }}</span>
                    {% elif reservation.status == 'Em Espera' %}
                    <span class="status-tag status-em-espera">{{ reservation.status }}</span>
                    {% elif reservation.status == 'Ativa' %}
                    <span class="status-tag status-ativa">{{ reservation.status }}</span>
                    {% elif reservation.status == 'Finalizada' %}
                    <span class="status-tag status-finalizada">{{ reservation.status }}</span>
                    {% elif reservation.status == 'Atrasada' %}
                    <span class="status-tag status-atrasada">{{ reservation.status }}</span>
                    {% else %}
                    <span class="status-tag">{{ reservation.status }}</span>
                    {% endif %}
                </td>
                <td class="align-middle text-right">
                    <a class="btn btn-table" href="{{ url_for('admin_reservation.reservation_details', token=reservation.id) }}"
                       title="Ver detalhes da Reserva">
                        <i class="fa-solid fa-eye" style="font-size:15px"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{{ url_for('static', filename='js/filter-submit.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/reservation-admin.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}
