{% extends "base.html" %}

{% block content %}

<div class="row search-header">
    <div class="col-md-12">

        <form method="POST" id="search-form">
            <div class="input-group rounded mt-3">
                <input type="text" class="form-control rounded mt-0" placeholder="Digite sua pesquisa..."
                       name="input-search">
                <div class="input-group-append">
                    <button class="btn btn-primary rounded-end-circle" type="submit">
                        <img src=".\static\img\Vector.png" alt="Pesquisar" style="width: 20px; height: 20px;">
                        <span class="ml-2">Pesquisar</span>
                    </button>
                </div>
            </div>

            <div class="btn-group ml-4" role="group" aria-label="Botões de Filtro" id="botoesFiltro">
                <span class="filtro-label pt-4 w-100">Filtrar por:</span>
                <div class="btn-group ml-4" role="group" aria-label="Botões de Filtro">
                    <label class="btn btn-secondary m-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroTodos" value="filtroTodos" autocomplete="off"
                               checked> Todos
                    </label>
                    <label class="btn btn-secondary m-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroStatus" value="filtroTitulo" autocomplete="off">
                        Título
                    </label>
                    <label class="btn btn-secondary m-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroISBN" value="filtroISBN" autocomplete="off">
                        ISBN
                    </label>
                    <label class="btn btn-secondary m-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroTitulo" value="filtroAutor" autocomplete="off">
                        Autor
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="acervo-container background container mb-5 pt-4 pb-1">

    {% for book in books %}

    <div class="card mb-5">
        <div class="card-body">
            <div class="row">
                <div class="imagem col-md-3">
                    <img src="{{ url_for('static', filename='img/book.jpg') }}">
                </div>
                <div class="book-info col-md-9 ">
                    <table class="table table-striped">

                        <h1 class="title-acervo mb-4">{{loop.index}}. {{ book.title }}</h1>
                        <hr>
                        <p class="mb-2">Autor {{ book.author }}
                        <p/>
                        <p class="mb-2">ISBN: {{ book.isbn }}
                        <p/>
                        <p class="mb-2">Editora: {{ book.publisher }}
                        <p/>
                        <p class="mb-2">Ano: {{ book.author }}
                        <p/>

                        <div class="row">
                            <div class="col pl-0">
                                <div class="d-flex justify-content-start mt-5">
                                    {% if book.availableStock == 0 %}
                                    <a href="#"
                                       class="btn bg-unavailable disabled ml-0">
                                        Indisponível
                                    </a>
                                    {% endif %}


                                    {% if book.availableStock != 0 %}
                                    <a href="{{ url_for('reservation_confirm', book_id=book.id) }}"
                                       class="btn btn-confirm">Reservar</a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <hr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/acervo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reservation.css') }}">
{% endblock %}
