{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header-card container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-start">
                    <a href="http:/profile" class="btn btn-primary botao">Voltar</a>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h1 class="titulo">Alterar Senha</h1>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end">
                </div>
            </div>
        </div>
    </div>
        <div class="card ">
            <div class="card-body border border-light">
                <form action="{{ url_for('change_password') }}" method="post">
                    <p>Senha Atual: </p>
                    <p><input type="password" class="form-control" name="current_password" required/></p>

                    <p>Nova Senha: </p>
                    <p><input type="password" class="form-control" name="new_password" required/></p>

                    <p>Confirmar Nova Senha: </p>
                    <p><input type="password" class="form-control" name="confirm_password" required/></p>

                    <input type="submit" class="btn btn-success" value="Alterar Senha"/>


                </form>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-danger alert-{{ category }} mt-2">
            <span style="color: red; display: block; text-align: center;">{{ message }}</span>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
</div>

{% endblock %}