{% extends "base.html" %}

{% block content %}

<div class="header-card container">
    <div class="row">
        <div class="col d-flex justify-content-start align-items-center">
            <a href="/reservation" class="btn btn-primary botao">Voltar</a>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <h1 class="titulo"> Reserva #{{ reservation.id }} </h1>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <form method="POST" class="m-0">
                <button type="submit" name="action" value="renew" class="btn btn-success" {% if not can_renew %}disabled
                        style="background-color: gray;" {% endif %}>
                    Renovar
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container reservation-details-card p-3">
    <div class="row">
        <!-- Card do Livro Reservado -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Livro Reservado
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" value="Título: {{ reservation.book.title }}"
                               readonly/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" value="Autor: {{ reservation.book.author }}"
                               readonly/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" value="ISBN: {{ reservation.book.isbn }}"
                               readonly/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" value="Ano: {{ reservation.book.year }}" readonly/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card dos Detalhes da Reserva -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Detalhes da Reserva
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" class="form-control mb-3"
                               value="Data da Reserva: {{ reservation.reservationDate }}" readonly/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mb-3"
                               value="Data de Expiração: {{ reservation.expirationDate }}" readonly/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mb-3"
                               value="Data de Devolução: {% if reservation.devolutionDate %}{{ reservation.devolutionDate }}{% else %}Ainda não devolvido{% endif %}"
                               readonly/>
                    </div>
                    <div class="status-box"
                         style="background-color: {% if reservation.status == 'Ativa' %}green{% elif reservation.status == 'Atrasada' %}red{% elif reservation.status == 'Finalizada' %}gray{% endif %};">
                        Status: {{ reservation.status }}
                    </div>
                    <div class="renov-box">
                        Renovações: {{ reservation.renewCount }}/3
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/reservation.css') }}">
{% endblock %}