{% extends "base.html" %}
{% block content %}

<div class="header-card container w-100">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-start">
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <h1 class="titulo">Reservas</h1>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
            </div>
        </div>
    </div>
</div>
<div class="container card">

    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{{ url_for('reservation') }}" id="search-form">
                <div class="input-group rounded mt-3">
                    <input type="text" class="form-control rounded mt-0" placeholder="Digite sua pesquisa..."
                           name="input-search">
                    <div class="input-group-append">
                        <button class="btn btn-primary rounded-end-circle" type="submit">
                            <img src=".\static\img\Vector.png" alt="Pesquisar" style="width: 20px; height: 20px;">
                            <span class="ml-2">Pesquisar</span>
                        </button>
                    </div>
                </div>
                <div class="btn-group d-flex" role="group" aria-label="Botões de Filtro" id="botoesFiltro">
                    <span class="filtro-label pt-4">Buscar por:</span>
                    <div class="btn-group" role="group" aria-label="Botões de Filtro">
                        <label class="button_filter btn btn-secondary m-3 rounded">
                            <input type="radio" name="filtro" id="filtroISBN" value="filtroISBN" autocomplete="off">
                            ISBN
                        </label>
                        <label class="button_filter btn btn-secondary m-3 rounded">
                            <input type="radio" name="filtro" id="filtroTitulo" value="filtroTitulo" autocomplete="off">
                            Título
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Tabela com Lista de Itens -->
    <div class="row table-reserve mt-4 mb-4">
        <div class="col">
            <h2 class="text-center mb-4">Reservas Realizadas</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Reserva</th>
                        <th scope="col">Expiração</th>
                        <th scope="col">Status</th>
                        <th scope="col" class="text-center">Reserva</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if reservations %}
                    {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.book.title }}</td>
                        <td>{{ reservation.book.isbn }}</td>
                        <td>{{ reservation.reservationDate }}</td>
                        <td>{{ reservation.expirationDate }}</td>
                        <td>{{ reservation.status }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('reservation_detail', reservation_id=reservation.id) }}"
                               class="btn btn-secondary rounded">Detalhes</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhuma reserva encontrada.</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='css/reservation.css') }}">

{% endblock %}
