{% extends "base.html" %}
{% block content %}

<div class="container mt-8">
    <div class="row linha-cinza mt-5">
        <div class="col-md-12">

            <form method="POST" action="{{ url_for('reservation') }}" id="search-form">
                <div class="input-group rounded mt-3">
                    <input type="text" class="form-control rounded mt-0" placeholder="Digite sua pesquisa..."
                           name="input-search">
                    <div class="input-group-append">
                        <button class="btn btn-primary rounded-end-circle" type="submit">
                            <img src=".\static\img\Vector.png" alt="Pesquisar" style="width: 20px; height: 20px;">
                            <span class="ml-2">Pesquisar</span>
                        </button>
                    </div>
                </div>

                <div class="btn-group ml-4" role="group" aria-label="Botões de Filtro" id="botoesFiltro">
                    <span class="filtro-label pt-4 w-100">Buscar por:</span>
                    <div class="btn-group ml-4" role="group" aria-label="Botões de Filtro">
                        <label class="btn btn-secondary m-3 w-100 rounded">
                            <input type="radio" name="filtro" id="filtroStatus" value="filtroStatus" autocomplete="off"> Status
                        </label>
                        <label class="btn btn-secondary m-3 w-100 rounded">
                            <input type="radio" name="filtro" id="filtroISBN" value="filtroISBN" autocomplete="off"> ISBN
                        </label>
                        <label class="btn btn-secondary m-3 w-100 rounded">
                            <input type="radio" name="filtro" id="filtroTitulo" value="filtroTitulo" autocomplete="off"> Título
                        </label>
                        <label class="btn btn-secondary m-3 w-100 rounded">
                            <input type="radio" name="filtro" id="filtroTodos" value="filtroTodos" autocomplete="off" checked> Todos
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Tabela com Lista de Itens -->
    <div class="row linha-branca mt-4">
        <div class="col">
            <table class="table">
                <h2 class="text-center mb-4">Reservas Realizadas</h2>
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Título</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Reserva</th>
                </tr>
                </thead>
                <tbody>
                {% if reservations %}
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.book.title }}</td>
                    <td>{{ reservation.reservationDate }}</td>
                    <td>{{ reservation.status }}</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-secondary rounded">Detalhes</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="text-center">Nenhuma reserva encontrada.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='css/reservation.css') }}">

{% endblock %}
