{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    <span style="color: red; display: block; text-align: center;">{{ message }}</span>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="header-card container w-100">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-start">
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <h1 class="titulo">Reservas</h1>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
            </div>
        </div>
    </div>
</div>
<div class="row search-header">
    <div class="col-md-12">
        <form method="POST" id="search-form">
            <div class="input-group rounded mt-3">
                <input type="text" class="form-control mt-0" placeholder="Digite sua pesquisa..." name="input-search">
                <div class="input-group-append">
                    <button class="btn btn-search" type="submit">
                        <img src=".\static\img\Vector.png" alt="Pesquisar" style="width: 20px; height: 20px;">
                        <span class="ml-2">Pesquisar</span>
                    </button>
                </div>
            </div>
            <div class="btn-group btn-group-toggle ml-4 w-100" role="group" aria-label="Botões de Filtro" id="botoesFiltro"
                 data-toggle="buttons">
                <span class="filtro-label pt-4">Filtro:</span>
                <div class="btn-group ml-4 d-flex flex-wrap w-100" role="group" aria-label="Botões de Filtro">
                    <label class="btn btn-primary mt-4 mb-3 mr-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroTodos" value="filtroTodos" autocomplete="off"
                               checked> Todos
                    </label>
                    <label class="btn btn-primary mt-4 mb-3 mr-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroStatus" value="filtroTitulo" autocomplete="off">
                        Título
                    </label>
                    <label class="btn btn-primary mt-4 mb-3 mr-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroISBN" value="filtroISBN" autocomplete="off"> ISBN
                    </label>
                    <label class="btn btn-primary mt-4 mb-3 mr-3 w-100 rounded">
                        <input type="radio" name="filtro" id="filtroTitulo" value="filtroAutor" autocomplete="off">
                        Autor
                    </label>
                    <select class="form-select btn btn-outline-secondary-status ml-auto mt-4 mb-3 mr-4 w-100 rounded" aria-label=".form-select filter">
                        <option selected disabled>Status</option>
                        <option class="text-left" value="1">Ativa</option>
                        <option class="text-left" value="2">Inadimplente</option>
                        <option class="text-left" value="3">Devolvido</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container card">
    <!-- Tabela com Lista de Itens -->
    <div class="row table-reserve mb-2">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Reserva</th>
                    <th scope="col">Expiração</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Reserva</th>
                </tr>
                </thead>
                <tbody>
                {% if reservations %}
                {% for reservation in reservations %}
                <tr>
                    <td class="align-middle">{{ reservation.book.title }}</td>
                    <td class="align-middle">{{ reservation.book.isbn }}</td>
                    <td class="align-middle">{{ reservation.reservationDate }}</td>
                    <td class="align-middle">{{ reservation.expirationDate }}</td>
                    <td class="align-middle">{{ reservation.status }}</td>
                    <td class="d-flex justify-content-center align-items-center">
                        <a href="{{ url_for('reservation_detail', reservation_id=reservation.id) }}"
                           class="btn btn-details">Detalhes</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6" class="text-center">Nenhuma reserva encontrada.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>



<link rel="stylesheet" href="{{ url_for('static', filename='css/reservation.css') }}">
{% endblock %}
