{% extends "sign-template.html" %}

{% block content %}
<div class="container">
    <div class="form-container">
        <!-- Adicione uma seção para exibir as mensagens de erro -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            <span style="color: red; display: block; text-align: center;">{{ message }}</span>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="#" method="post">
            <p>Nome: </p>
            <p><input type="text" name="input_nome"/></p>

            <p>CPF: </p>
            <p><input type="text" name="input_cpf" pattern="[0-9]*" maxlength="11"
                      title="Informe apenas números (11 dígitos)" required/></p>

            <p>Email: </p>
            <p><input type="text" name="input_email"/></p>

            <p>Password: </p>
            <p><input type="password" name="input_password"></p>

            <!-- Campo de telefone -->
            <p>Telefone (com DDD): </p>
            <p><input type="text" name="input_telefone" pattern="[0-9]{11}"
                      title="Informe um telefone válido (11 dígitos)"/></p>

            <p><input type="submit" value="Sign Up"/></p>

            <p style="font-size: 0.8em; text-align: center; color: #C0E0E1;">Se você já foi cadastrado, faça <a
                    href="{{ url_for('login') }}" style="color: #C0E0E1;">login</a>.</p>
        </form>
    </div>
</div>
{% endblock %}
