<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@6.4.0/dist/css/mdb.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-style.css') }}">
</head>
<body class="bg-blue">
    <div class="row">
        <div class="text-black position-relative">
            <div class="position-absolute w-100" style="top: 10px;">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="container">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show text-center mx-auto custom-alert" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
            <div class="container-fluid h-100 ">
                <div class="row h-100 content-wrapper ">
                    <div class="col-lg-4 text-center">
                        <img src="{{ url_for('static', filename='img/booktable.jpg') }}" class="img-side" alt="Left Image">
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="form-container mx-3 px-3">
                            <div class="px-5 ms-xl-4">
                                <div class="logo2-container fa-2x pt-5 mt-xl-4 justify-content-center mb-3">
                                    <img src="{{ url_for('static', filename='img/logomarca.png') }}" alt="Logo" class="img-background">
                                </div>
                            </div>
                            <form action="#" method="post">
                                <h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Cadastre-se</h3>
                                <div class="mb-3">
                                    <label for="input_nome" class="form-label">Nome</label>
                                    <input type="text" id="input_nome" name="input_nome" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="input_cpf" class="form-label">CPF</label>
                                    <input type="text" id="input_cpf" name="input_cpf" pattern="[0-9]*" maxlength="11" title="Informe apenas números (11 dígitos)" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="input_email" class="form-label">Email</label>
                                    <input type="email" id="input_email" name="input_email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="input_password" class="form-label">Password</label>
                                    <input type="password" id="input_password" name="input_password" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="input_telefone" class="form-label">Telefone (com DDD)</label>
                                    <input type="text" id="input_telefone" name="input_telefone" pattern="[0-9]{11}" title="Informe um telefone válido (11 dígitos)" class="form-control" required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-custom btn-lg ps-5 pe-5 mt-3 mb-3">Cadastrar</button>
                                </div>
                                <h5 class="text-center">Se você já foi cadastrado, faça <a href="{{ url_for('login') }}">login</a>.</h5>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <img src="{{ url_for('static', filename='img/booktable.jpg') }}" class="img-side" alt="Right Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@6.4.0/dist/js/mdb.min.js"></script>
</body>
</html>
