{% extends "base.html" %}
{% block content %}
<div class="header-card container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-start">
                <a href="{{ url_for('user.profile') }}" class="btn btn-back botao">Voltar</a>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <h1 class="titulo">Atualizar Perfil</h1>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <a class="btn btn-confirm botao2" href="{{ url_for('user.change_password') }}">Alterar Senha</a>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body border border-light">
        <form action="{{ url_for('user.update_profile') }}" method="post">
            <p>Nome: </p>
            <p><input type="text" class="form-control" name="input_nome" value="{{current_user.name}}"/></p>

            <p>Telefone (com DDD): </p>
            <p><input type="text" class="form-control" name="input_telefone" value="{{current_user.phonenumber}}"
                      pattern="[0-9]{11}" title="Informe um telefone válido (11 dígitos)"/></p>

            <input type="submit" class="btn btn-success" value="Atualizar" name="action"/>
            <input type="submit" class="btn btn-danger" value="Excluir Conta" name="action"/>

        </form>
    </div>
</div>

</div>
{% endblock %}
